@import "../../../styles.scss";

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $main-color;
  background: $light-color;
  position: relative;
  width: 100%;
  .divider {
    height: auto;
    width: 100%;
    background: $secondary-color;
    text-align: center;
    padding: 0.5rem 0 0.5rem 0;
    h1 {
      color: $light-color;
      font-family: "Paytone One", sans-serif;
      font-weight: 400;
    }
  }
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: auto;
  padding: 5rem;
  overflow: hidden;
  .logo {
    width: 60%;
  }
  &::before {
    content: url("../../../../public/assets/orange_star.png");
    transform: scale(0.5);
    position: absolute;
    left: -100px;
    top: -550px;
  }
  &::after {
    content: url("../../../../public/assets/orange_star.png");
    transform: scale(0.5);
    position: absolute;
    right: -100px;
    top: -550px;
  }
}

.bottom {
  display: flex;
  background: $main-color;
  color: $light-color;
  justify-content: center;
  align-items: center;
  padding: 5rem 2rem 5rem 2rem;
  gap: 10rem;
  .bottom-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    gap: 2rem;
    h3 {
      font-size: 2rem;
      color: $light-color;
      font-family: "Paytone One", sans-serif;
      font-weight: 400;
    }
    p {
      font-size: 1.25rem;
    }
  }
  .img-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 30%;
    img {
      width: 100%;
    }
  }
}
