@import "../../../styles.scss";

@keyframes logoInit {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes textInit {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $main-color;
  background: $light-color;
  position: relative;
  width: 100%;
  overflow: hidden;

  h1 {
    color: $main-color;
    font-weight: 400;
  }
  h2{
    color: $light-color;
    font-weight: 400;
  }
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: auto;
  padding: 5rem;
  overflow: hidden;

  .logo {
    animation:logoInit 1.5s linear;
    width: 60%;
  }
  h1{
    animation: textInit 1.5s linear;
  }

  &::before,
  &::after {
    content: url("../../../../public/assets/orange_star.png");
    transform: scale(0.5);
    position: absolute;
    top: -550px;
  }

  &::before {
    left: -100px;
  }

  &::after {
    right: -100px;
  }
}

.bottom {
  display: flex;
  background: $main-color;
  color: $light-color;
  justify-content: center;
  align-items: center;
  padding: 5rem 2rem;
  gap: 10rem;
  z-index: 100;

  .bottom-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    gap: 2rem;

    h3 {
      font-size: 2rem;
      color: $light-color;
      font-family: "Paytone One", sans-serif;
      font-weight: 400;
    }

    p {
      font-size: 1.25rem;
    }
  }

  .img-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 30%;

    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1800px) {
  .top {
    &::before,
    &::after {
      transform: scale(0.3);
    }

    &::before {
      left: -200px;
    }

    &::after {
      right: -200px;
    }
  }
}

@media screen and (max-width: 1300px) {
  .top {
    &::before {
      transform: scale(0.5);
      left: -500px;
      top: -500px;
    }

    &::after {
      display: none;
    }
  }

  .bottom {
    padding: 3rem 2rem;
    gap: 5rem;

    .bottom-content {
      width: 50%;

      h3 {
        font-size: 1.5rem;
      }

      p {
        font-size: 1rem;
      }
    }

    .img-container .stripes {
      width: 40%;
    }
  }
}

@media screen and (max-width: 950px) {
  .top {
    align-items: inherit;
    text-align: center;
    padding: 3rem;

    &::before {
      transform: scale(0.2);
      left: -500px;
      top: -500px;
    }

    &::after {
      display: block;
      transform: scale(0.2);
      right: -480px;
      top: -180px;
    }
  }

  .divider {
    z-index: 100;
  }

  .bottom {
    flex-direction: column;
    text-align: center;
    padding: 1.5rem;
    width: auto;

    .bottom-content {
      width: 100%;
      align-items: center;
    }

    .img-container {
      width: 70%;
      .stripes{
        display: none;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .top {
    align-items: inherit;
    text-align: end;
    padding: 3rem;

    .logo {
      width: 100%;
      align-self: flex-end;
    }

    h1 {
      text-align: center;
      font-size: 18px;
    }

    &::before {
      transform: scale(0.125);
      left: -520px;
      top: -520px;
    }

    &::after {
      transform: scale(0.125);
      right: -510px;
      top: -190px;
    }
  }

  .divider {
    h2 {
      font-size: 18px;
    }
  }
}
