<section>

    <div class="top">
      <img class="logo" src="/assets/logo.png" alt="" />
      <h2>{{ "Agence de communication écrite à Amiens" | uppercase }}</h2>
      <button class="button-fill">NOS SERVICES</button>
    </div>

  <div class="divider">
    <h1>DÉMARQUEZ-VOUS AVEC DES MOTS.</h1>
  </div>
  <div class="bottom">
    <div class="bottom-content">
      <h3>
        Vous n'avez pas encore trouvé ce qui vous distingue de vos concurrents ?
        Et si votre atout unique résidait dans la puissance des mots ?
      </h3>
      <p>
        Nous sommes là pour vous aider à trouver les mots justes et à mettre en
        valeur votre message. Confiez-nous vos projets de communication écrite
        et découvrez l’impact d’un contenu rédigé avec soin et expertise.
      </p>
      <button class="button-stroke">Nous contacter</button>
    </div>
    <div class="img-container">
      <img src="/assets/user.png" alt="" />
      <img src="/assets/three_stripes.png" alt="" />
    </div>
  </div>
</section>
