@import "../../../styles.scss";

section {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  align-items: center;
  background: $main-color;
  position: sticky;
  top: 0;
  z-index: 999;
  font-family: "Paytone One", sans-serif;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.right-side {
  display: flex;
  gap: 2rem;
  color: $light-color;
}
.burger {
  display: none;
}

.nav-mobile {
  display: block;
  position: absolute;
  top: 5rem;
  right: 0;
  z-index: 1;
  width: 200px;
  div {
    background: $main-color;
    color: $light-color;
    padding: 1rem 1.5rem;
    display: block;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      background: $main-color-050;
    }
    &:nth-last-child(1) {
      border-radius: 0 0 0 10px;
    }
    &:nth-child(1) {
      border-radius: 10px 0 0 0;
    }
  }
}

@media screen and (max-width: 600px) {
  section {
    padding: 1rem 2rem;
  }
  .right-side {
    display: none;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
}
