@import "../../../styles.scss";

section {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 4rem 2rem ;
    background: $main-color;
    h2 {
      font-family: 'Inter', sans-serif;
      text-align: center;
      color: $light-color;
      font-weight: 900;
      font-size: 45px;
    }
    &::before{
        content: url("../../../../public/assets/violet_star.png");
        position: absolute;
        bottom: -20%;
        left: -2%;
        z-index: 10;
    }
  
    .circle-container {
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 6rem;
      flex-wrap: wrap;
      width: 70%;
      flex-grow: 1;
      flex-basis: 10px;
    }
  }
  @media screen and (max-width: 1400px) {
    section{
        &::before{
            bottom: -10%;
        }
    }
  }

  @media screen and (max-width: 970px) {
    section{
        h2{
            font-size: 200%;
        }
      .circle-container{
        width: 80%;
      }
      &::before{
          bottom: -20%;
      }
    }
  }

  @media screen and (max-width: 938px) {
    section{
        &::before{
            transform: scale(0.7);
            bottom: -10%;
            left: -10%;
        }
    }
  }
  @media screen and (max-width: 585px) {
    section{
        &::before{
            bottom: -7%;
            left: -25%;
        }
    }
  }