@import '../../../styles.scss';

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    img{
        width: 6.5rem;
    }
    p{
        font-size: 40px;
        color: $secondary-color; 
        font-size: 1.5rem;
    }
}