<section>
  <div class="title">
    <h2>QUI SOMMES-NOUS ?</h2>
    <div class="divider"></div>
  </div>

  <div class="presentation">
    <p>
      Je m’appelle <span>Cléa Ivain</span> Cléa Ivain et je suis originaire
      d’<span>Amiens.</span> Depuis toujours, les mots sont ma grande passion.
      Petite, je passais des heures à inventer des histoires, à écrire des
      livres que j’illustrais moi-même. Ces souvenirs d’enfance m’ont guidée
      jusqu’ici, à la création de <span>La Majuscule.</span> 
    </p>
    <p>
      Après un parcours en gestion et marketing, avec une spécialisation en
      <span>webmarketing</span>, puis une formation en
      <span>conception-rédaction </span>à Paris, j’ai ressenti le besoin de
      suivre mon propre chemin. C’est ainsi qu’en <span>février 2024</span>,
      j’ai décidé de me lancer dans l’aventure entrepreneuriale, en créant La
      Majuscule, une agence de communication qui me ressemble.
    </p>
    <p>
      La Majuscule, c’est avant tout une histoire
      de <span>passion</span>, de <span>créativité</span> et
      de <span>proximité</span>. Mon objectif est simple : vous accompagner dans
      vos projets avec <span>bienveillance</span>, <span>écoute </span>et
      <span>partage</span>. Je mets un point d’honneur à ce que chaque texte,
      chaque photo, et chaque vidéo reflètent exactement ce que vous avez en
      tête. C’est pourquoi je suis toujours <span>à l’écoute</span> de vos
      besoins et prête à apporter toutes les modifications nécessaires jusqu’à
      ce que vous soyez pleinement satisfait.
    </p>
    <p>
      Ce qui compte le plus pour moi, c’est la <span>relation de confiance</span>
      que nous allons construire ensemble. Je tiens à ce que chaque
      <span>collaboration</span> soit une véritable rencontre, un échange d’idées et de
      visions. Je crois fermement que c’est en travaillant main dans la main que
      nous pourrons donner vie à vos projets et les rendre uniques.
    </p>
    <p>Merci de votre confiance. Au plaisir de collaborer avec vous.</p>
    <span>Cléa Ivain – La Majuscule, Amiens.</span>
  </div>
</section>
